*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.logo{
    width: 150px;
}
.logo  img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 4px;
    height: 8vh;
}
.fav-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.fav-btn > i{
    color: orange;
}
.fav-btn  a{
    color: orange;
    font-size: large;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
}

main{
    padding: 2rem;
}
section{
    margin-top: 1rem;
}
.coin_data  img{
    width: 15vw;
    border-radius: 50%;
}

.coin_data{
    display: flex;
    gap: 1rem;
    

}

.coin_data > .rank{
    background-color: black;
    color: white;
    padding: 4px 8px;
    align-self: baseline;
    border-radius: 5px;
}
.coin{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.coin > .name-price{
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    font-weight: 700;
}
.price > span{
    padding-left: 1rem;
    font-size: 3vw;
}

.pos-change{
    color: rgb(0, 190, 0);
    font-weight: 700;
}
.neg-change{
    color: red;
    font-weight: 700;
}

.coin-desc-parent{
    display: flex;
    gap: 8rem;
    margin-top: 4rem;
}

.coin-info-left-container, .coin-info-right-container{
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 16px 2px;
    border-radius: 10px;
    width: 100%;
}
.coin-info-left-container  p{
  color: rgb(100, 100, 100);
  font-weight: 500;
  margin-bottom: 1rem;
}
ul > li{
list-style-type: none;
}
 a{
    text-decoration: none;
}
.social-media-links{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.left-card, .right-card{
    padding: 1rem;
}
.social-media-links a{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    background-color: rgb(186, 185, 185);
    padding: 0.5rem;
    border-radius: 4px;
}
.left-card a{
    color : black;
    font-weight : 600
}
.coin-info-right-container > .right-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
   

}
.right-card-child{
    display: flex;
    justify-content: space-between;
}

.loader-parent{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%; 
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 10px;
}
.inactive{
    display: none;
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    @media screen and (max-width : 920px) {
        .coin-desc-parent{
            gap: 2rem;
        }
    }

    @media screen and (max-width : 770px) {
        .coin_data{
            font-size: 2vw !important;
        }
       
        .coin-desc-parent{
            flex-direction: column;
        }

    }

    @media screen and (max-width : 500px) {
        .social-media-links{
            display: flex;
            flex-direction: column !important;
        }
        .left-card, .right-card{
            font-size: 12px;
        }
        
    }