*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.logo{
    width: 150px;
}
.logo  img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 4px;
    height: 8vh;
}
.fav-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.fav-btn > i{
    color: orange;
}
.fav-btn  a{
    color: orange;
    font-size: large;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
}


/* Main */
main{
    margin: 1.5rem;
}

.global-sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
   
}

.global-overview-container{
    font-size: 1.5rem;
    border: 4px solid rgb(127, 127, 127);
    /* box-shadow: 2px 2px 30px grey; */
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
    padding: 8px 12px;
}


.search-table, .search-table input{
    width: 100%;
}
.search-bar{
    margin-top: 1.5rem;
    position: relative;
}
.search-bar > i{
    position: absolute;
    left: 10px;
    top: 14px;
}
.search-bar > input{
    padding: 5px 35px;
    font-size: larger;
    border: 3px solid grey;
    outline: none;
    border-radius: 6px;
}
.search-bar > input::placeholder{
    font-weight: 500;
}

.coin-list{
    margin-top: 1.5rem;
}

table{
    width: 100%;
    text-align: center;
    border : 2px solid grey;
    border-collapse: collapse;
}
thead{
    border-bottom: 2px solid grey;
}
td,th{
    padding: 20px;
}
tbody > tr{
    cursor: pointer;
}
tbody > tr:hover{
background-color: rgb(225, 225, 225);
}

.rank-cell > span:first-of-type{
    margin-right: 10px;
}
table img{
    width: 40px;
}


.coin-name-icon{
    text-align: left;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 2rem;
}
.pos-change{
    color: rgb(0, 190, 0);
    font-weight: 700;
}
.neg-change{
    color: red;
    font-weight: 700;
}

    

.loader-parent{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%; 
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 10px;
}
.inactive{
    display: none;
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .pagination-container{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .page-box{
        padding: 5px 15px;
        border: 2px solid black;
        cursor: pointer;
    }
    .page-box:hover{
        background-color: rgb(194, 194, 194);
    }